* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-size: 70%;
}

p {
  font-size: 1em;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0 0 1.25rem 1.25rem;
}

.contenedor {
  max-width: 31.25rem;
  /* 500px */
  margin: 0 auto;
  padding: 1.25rem;
}

.contenedor p {
  margin-top: 2.5rem;
}

.form-login {
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: #f8f8f8;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  width: 100%;
}

.form-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
}

.form-item label {
  width: 9.375rem;
  /* 150px */
  text-align: right;
  margin-right: 0.625rem;
}

.form-item input {
  flex: 1;
  padding: 0.5em;
}

.form-item span {
  flex: 1;
  text-align: left;
}

.boton-iniciar-sesion,
.boton-enviar-email,
.boton-cancelar,
.boton-generico {
  padding: 0.625rem;
  background-color: #93E893;
  border: 0.125rem solid black;
  border-radius: 0.5em;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.boton-cancelar {
  background-color: orangered;
}

.form-login a:not(.boton-iniciar-sesion) {
  text-align: center;
  color: blue;
  text-decoration: none;
  margin-top: 0.3125rem;
}

.recuperar-contraseña {
  flex-direction: column;
  text-align: center;
}

.botones-al-lado {
  display: flex;
  justify-content: right;
  margin-right: 0.625rem;
  margin-top: 6.25rem;
}

.botones-al-lado a {
  margin: 0 0.625rem;
  width: 12.5rem;
}

.botones-izquierda {
  margin-top: 2.0625rem;
  margin-left: 0.9375rem;
  width: 70%;
}

.register {
  margin: 1.25rem;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
}

.register img {
  width: 9.375rem;
  height: auto;
}

.align-left,
.align-right {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.uso-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
  align-items: start;
}

.grid-contenedor {
  display: grid;
  grid-template-columns: 12.5rem 1fr 1fr;
  gap: 0.625rem;
  grid-auto-rows: auto;
  text-align: center;
  font-size: 1.1875rem;
}

.grid-contenedor .box2 {
  margin-top: 1.25rem;
}

.grid-contenedor .box3 {
  text-align: left;
}

.num-tarjeta {
  margin: 0.625rem;
  padding: 0.625rem;
}

.opciones-cupon {
  align-items: left;
  margin-top: 1.25rem;
}

.cupon-opciones {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

.transferencia {
  margin-top: 1.25rem;
}

.botones-derecha {
  margin: 0 auto;
}

/* Vista de la serie */
.contenedor-serie {
  display: flex;
  gap: 1.875rem;
  align-items: flex-start;
  padding: 1.25rem;
  width: 95%;
  margin: 1.875rem;
}

.contenedor-serie .iframe-serie {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-serie .detalle-serie {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contenedor-serie .detalle-serie .seleccionar {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.contenedor-serie .detalle-serie .seleccionar label {
  font-weight: bold;
  font-size: 1.5em;
}

.contenedor-serie .detalle-serie .seleccionar select {
  border: 0.125rem solid black;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
}

.contenedor-serie .detalle-serie .genero,
.actores {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.contenedor-serie .detalle-serie .genero p {
  font-size: 1.5em;
}

.contenedor-serie .detalle-serie .actores a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

.contenedor-serie .detalle-serie p {
  font-size: 1.25em;
}

.series-similares {
  width: 100%;
  height: auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.series-similares .grilla-series {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin: auto;
  margin-left: 1.875rem;
  margin-top: 4.0625rem;
  width: 95%;
  height: 80%;
  object-fit: contain;
}

.series-similares .grilla-series img {
  width: 100%;
  height: auto;
  max-height: 15.625rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.series-similares .grilla-series img:hover {
  transform: scale(1.05);
}